body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  height: 100vh;
}

.alert-info{
  text-align: center;
}

h1 {
  color: #333;
  margin: 20px;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 1200px;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave */
}

button:hover {
  background-color: #218838;
}

.erros {
  list-style-type: none;
  padding: 0;
  color: red;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #112e10;
  padding-top: 20px;
  position: fixed; /* Fixa a sidebar */
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}


.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: background-color 0.3s ease; /* Transição suave */
}

.sidebar a:hover {
  background-color: #37862d;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px; /* Espaço para a sidebar */
}

.mb-4 {
  text-align: center;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative; /* Sidebar se torna relativa em telas menores */
  }

  .content {
      margin-left: 0; /* Remove a margem esquerda na tela pequena */
  }
}
#notificationContainer {
  bottom: 0px !important;
  right: 20px !important;
  width: 30%;
  left: auto !important;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out; /* Transição mais suave */
}

#notificationContainer.show {
  transform: translateY(0);
  opacity: 1;
}

#notificationContainer.hide {
  transform: translateY(100%); /* Empurra a notificação para fora da tela */
  opacity: 0;
}
/* Estilização opcional dos valores */
#contagemValores span {
  font-weight: bold; /* Negrito para os valores */
  color: #007bff; /* Cor azul */
  font-size: 20px; /* Tamanho da fonte dos valores */
}

.my-4{
  text-align: center;
}